//SECTION - GENERAL RULES
.about-me-container {
  @include flex(column, space-evenly, center);
  width: 90%;
  margin: 0 auto;
  min-height: 90vh;
  background: $backgroundColor;

  h1 {
    color: white;
    text-align: center;
    font-family: $fontFamilyTitle2;
  }

  h2 {
    color: $funColor2;
    text-align: center;
  }

  p {
    color: white;
  }
}

.part-text {
  padding: 2.4rem;
  background: $blackLightest;
  border-radius: 10px;

  p:nth-child(2) {
    padding-top: 1.2rem;
  }
}

.customer-review-link,
.link-to-skills {
  cursor: pointer;
  color: $funColor2;
}

//SECTION - hero
.about-me-container.hero {
  h1 {
    width: 70%;
  }
}
.about-me-hero-img-container {
  width: 24rem;
  position: relative;
  img {
    width: 100%;
  }
}

//SECTION - A designer named Steve you will meet
.about-me-profile-content {
  width: 70%;
  display: grid;
  justify-items: center;
  grid-template-columns: 40% 70%;

  h1 {
    color: white;
    text-align: center;
    font-family: $fontFamilyTitle2;
  }
}
.about-me-profile-picture {
  @include flex(column, center, center);
}

.link-to-mycv {
  margin-top: 0.8rem;
  color: $funColor2;
  @include flex(row, center, center);
}

//Left Side
.about-me-profile-picture {
  img {
    width: 80%;
  }
}
//Right Side
.about-me-profile-text {
  align-self: start;
  position: relative;
  padding: 2.4rem;
  background: $blackLightest;
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);

  p:not(:first-child) {
    padding-top: 1.2rem;
  }
}
//Add the arrow to the rectangle
.about-me-profile-text:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0px 0px 4rem 4rem;
  border-color: transparent transparent #333333 transparent;
  top: 20%;
  left: -20px;
  margin-top: -10px;
}

//SECTION - PROFILE STORY - Who is not from a family of designers
.profile-story-part {
  @include flex(row, center, center);
  width: 90%;
}
//Left Side
.part-text.one {
  flex: 1 1 60%;
  position: relative;
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);
}
.part-text.one:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #333333;
  top: 29%;
  right: -20px;
  margin-top: -10px;
}

//Right Side
.profile-story-part.one {
  svg {
    flex: 1 1 40%;
    padding: 0 2.4rem;
  }
}

//SECTION - PROFILE STORY - Who decided to become one?
.profile-story-part.two {
  @include flex(row, space-evenly, center);
  svg {
    width: 24rem;
    height: 24rem;
  }
}
//Content
.part-text.two {
  width: 50%;
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);

  p:nth-child(3) {
    padding-top: 1.2rem;
  }
}

//SECTION - PROFILE STORY - My aim as a UX-UI Designer
.part-text.purpose {
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);
  margin: 0rem 2.4rem;
  position: relative;
}
.part-text.purpose::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #333333;
  top: 29%;
  right: -20px;
  margin-top: -10px;
}

.profile-story-part.purpose {
  svg {
    width: 80%;
  }
}

//SECTION - PROFILE STORY - My Background
.profile-story-part.background {
  @include flex(row, center, center);
}

.iae-degree,
.kedge-degree {
  position: relative;
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);
  flex: 1 1 40rem;
  border-radius: 10px;
  min-width: 20rem;
  margin: 0rem 2.4rem;
  h4 {
    color: white;
    padding-top: 3.2rem;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.kedge-degree {
  p:last-child {
    padding-top: 2.4rem;
    font-size: calc(#{$caption} + 1vw);
    font-style: italic;
  }
}

.part-text.background {
  @include flex(column, flex-start, center);
  height: 40rem;
}

.img-degree-container {
  @include flex(row, center, center);
  width: 50%;
  height: 9.6rem;

  img {
    width: 100%;
  }
}

.img-degree-container.kedge {
  img {
    width: 80%;
  }
}

//SECTION - PROFILE STORY - My experience
//Left Side
.profile-story-part.experience {
  img {
    width: 15%;
  }
}
//Right Side
.part-text.experience {
  margin-left: 2.4rem;
  width: 60%;
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);
}

//SECTION - PROFILE STORY - General Rules
.skills-tool-container {
  @include flex(row, center, center);

  img {
    width: 4.8rem;
  }

  p {
    padding-left: 1.6rem;
  }
}

//SECTION - PROFILE STORY - Design Tools
//Main Grid
.all-tools-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}
//Left Side
.svg-all-tools-container {
  @include flex(row, center, center);
  svg {
    width: 50%;
  }
}
//Right Side
.tools-flexbox {
  @include flex(row, flex-start, center);
  width: 100%;
}
.tools-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: start;
  align-items: center;
  row-gap: 1.6rem;
  column-gap: 1.6rem;
}
.tools-grid.programming {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.tools-grid.marketing {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

//SECTION - FOOTER
.form-section {
  @include flex(column, center, center);
  min-height: 90vh;
}
//Form Container
form {
  @include flex(column, center, center);
  width: 50%;
  //height: 50rem;
  padding: 2.4rem;
  background: $blackLightest;
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  input {
    width: 100%;
    height: 100%;
    color: white;
    font-family: $fontFamily1;
    padding-top: 60px;
    border: none;
    outline: none;
    background: $blackLightest;
  }

  label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: rgba($color: #ffffff, $alpha: 0.2);
    border-bottom: 2px solid white;
  }
}

//Header
.header-section {
  @include flex(row, center, center);
  //justify-self: flex-start;
  h2 {
    color: white;
  }
  svg {
    padding-left: 2.4rem;
    width: 12%;
  }
}

//Name & Mail
.name-section,
.email-section {
  position: relative;
  width: 50%;
  height: 70px;
  overflow: hidden;
}
.name-section {
  margin-top: 4rem;
}

//Bottom Bar we add to both main div
.name-section label::after,
.email-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid $funColor2;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
//This is the label "name" and "email" that we are going to animate
.content-name,
.content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

//On focus and when the form is valid(that there is a value inside)
//the label will still stay up
.name-section input:focus + .label-name .content-name,
.name-section input:valid + .label-name .content-name,
.email-section input:focus + .label-email .content-email,
.email-section input:valid + .label-email .content-email {
  transform: translateY(-70%);
  color: $funColor2;
}

//On focus and when the form is valid(that there is a value inside)
//the bottom bar is gonna translate to the right
.name-section input:focus + .label-name::after,
.name-section input:valid + .label-name::after,
.email-section input:focus + .label-email::after,
.email-section input:valid + .label-email::after {
  transform: translateX(0%);
}

//Mail
.mail-section {
  margin-top: 4rem;
}

//Message
.message-section {
  margin-top: 2.4rem;
  @include flex(row, center, center);
  width: 50%;

  textarea {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 1.6rem;
    font-family: $fontFamily1;
    outline: none;
    color: $blackLightest;
  }
}

//Button
.submit-section {
  margin-top: 4rem;
  width: 50%;
  @include flex(row, center, center);

  button {
    padding: 1.6rem 0rem;
    width: 100%;
    border: solid 2px rgba(46, 178, 255, 0.651);
    background: none;
    color: $funColor2;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.5);
    transition-property: transform;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: $funColor2;
      color: white;
      transform: scale(1.1);
    }
  }
}

//SECTION - Footer
.end-section {
  width: 70%;
}

.end-section-content {
  @include flex(row, space-evenly, center);
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);
  background: $blackLightest;
  padding: 3.2rem 2.4rem;

  p {
    padding: 1.6rem;
  }

  img {
    width: 30%;
  }
}

//SECTION Bonus
.about-me-container.bonus {
  min-height: 80vh;
}

.bonus-content {
  @include flex(row, space-evenly, center);
  padding: 2.4rem;
  width: 80%;

  p {
    flex: 1 1 50%;
    padding-right: 3.2rem;
  }

  iframe {
    flex: 1 1 50%;
    height: 28rem;
    border-radius: 10px;
  }

  span {
    font-size: calc(1.6rem + 1vw);
    font-weight: bolder;
    color: $funColor2;
  }
}

footer {
  min-height: 10vh;
  @include flex(column, center, center);

  p {
    font-size: calc(#{$caption} + 1vw);
    color: white;
    font-weight: 300;
  }
}
