//MAIN VARIABLES
//Font Size
$header1: 4rem;
$header2: 3.2rem;
$header3: 2.4rem;
$header4: 2rem;
$text: 1.6rem;
$caption: 0.4rem;

//Font Family
$fontFamilyTitle1: "Lobster", cursive;
$fontFamilyTitle2: "Lobster Two", cursive;
$fontFamilyTitle3: "Sue Ellen Francisco", cursive;
$fontFamily1: "Poppins", sans-serif;

//Colors
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$backgroundColor: #272727;
$backgroundColor2: #35363a;
$funColor1: rgb(167, 110, 231);
$funColor2: rgb(46, 178, 255);
$funColor3: rgb(255, 139, 93);
$blackLighter: #333333;
$blackLightest: hsl(0, 0, 20);
$gray: #777777;

//Breakpoints
$breakpoints-up: (
  "xsmall": "47.9rem",
  "small": "76.7rem",
  "medium": "102.3rem",
  "large": "139.9rem",
);
$breakpoints-down: (
  "xsmall": "48rem",
  "small": "76.8rem",
  "medium": "102.4rem",
  "large": "140rem",
);

//MIXIN FUNCTIONS
//Flex
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//Breakpoints
@mixin breakpoint-up($size) {
  @media screen and (min-width: map-get($breakpoints-up, $size )) {
    @content;
  }
}
@mixin breakpoint-down($size) {
  @media screen and (max-width: map-get($breakpoints-down, $size )) {
    @content;
  }
}

//LINKS TO SCSS FILES
@import "global";
@import "landingPage";
@import "portfolio";
@import "project-orphee";
@import "project-wonderfood";
@import "project-ariane";
@import "project-thesliderz";
@import "story";
@import "media-queries";
